body {
    font-family: system-ui;
    background-color: rgb(129, 252, 211);
}
    
/* part of (<body> ---> <header> */
.main-header {
    display: flex;
    background-color: cadetblue;
    padding: 10px;
    border-radius: 10px;
    gap: 725px;
}

.header-nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header-nav-sub {
    background-color: rgb(39, 70, 110);
    color: gold;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.header-nav-sub:hover {
    background-color: gold;
    color: rgb(27, 60, 104);
    text-decoration: underline;
}

.header-nav-sub:active {
    transition: ease-in;
}

/* part of (<body> ---> <main> */

/* part of (<body> --> <main> --> <header> */
.content-header {
    text-align: center;
    font-size: x-large;
}

/* part of slide image */
.slide-image-sub {
    margin: auto;
    position: relative;
}

.imgSlides-fade {
    display: none;
}

.imgSlides-fade-sub {
    width: 1366px;
    height: 578px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
